<% if current_user && current_user.admin? %>
    <h1> New Station</h1>

    <%= form_with model: @station do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>

        <div>
            <%= form.label :address %>
            <%= form.text_field :address %>
        </div>

        <div>
            <%= form.label :phone %>
            <%= form.text_field :phone %>
        </div>

        <div>
            <%= form.label :info %>
            <%= form.text_area :info %>
        </div>

        <div>
            <%= form.submit %>
        </div>
        <br>

        <b> Add a train to station: </b>
        <% @trains.each do |train| %>
            <% if !(@station.train_ids.include? train.id) %>
              <br>
              <%= train.id %>
              <%= train.departure %>
              <%= train.destignation %>
              <%= link_to "Connect", 
                connect_path(train_id: train.id, station_id: @station.id),
                class: 'button is-primary' %>
            <% end %>
        <% end %>
    <% end %>
<% else %>
  Access denied
<% end %>
